@model laboratorio1ElvisOrtiz160625.Models.Cliente

@{
    ViewData["Title"] = "Detalles del Cliente";
}

<h1 class="mb-4">Detalles del Cliente</h1>

<div class="card shadow-sm p-4">
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Nombre)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Nombre)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Telefono)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Telefono)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Direccion)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Direccion)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Correo)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Correo)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.FechaRegistro)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.FechaRegistro)</dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model?.IdCliente" class="btn btn-warning">
        <i class="bi bi-pencil"></i> Editar
    </a>
    <a asp-action="Index" class="btn btn-secondary ms-2">
        <i class="bi bi-arrow-left-circle"></i> Volver
    </a>
</div>
